*{
 margin:0; 
 padding:0;  
}

.row{
    max-width:1140px;
    margin:0 auto;
}
body
{
    font-family:Tahoma;
}
.heading
{
position:absolute;
width:1140px;
top:50%;
left:60%;
transform:translate(-50%,-60%);
}

}
h1{
   color:purple;
 }
 h2{
   color:purple; 
 
 }
h3{
    color: blue;
    position: align-self: auto;
    border:2px solid orchid;
    padding:10px 30px;
    border-radius:20px;
}

.nav{
    list-style-type:none;
    float:right;
    margin-top:60px;

}

.nav li{
    display:inline-block;
    margin-left:20px;
}
.nav li a
{
color:green;
text-decoration: none; 
font-size:90%;
font-weight:bold;
}


.shev{
    padding:10px 30px;
    margin-right:20px;
    color:darkblue;
    text-decoration:none;
    font-size:25;
    font-style:italic;
    
}
.label{
    margin-top:40px; 
}

